/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button:disabled{
	    -fx-opacity: 1;
}
#uncovered{
	-fx-background-color:#bdbdbd;
	-fx-font-family:"Roboto Sans";
	-fx-font-size: 19;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/uncovered.png");
    -fx-background-size: cover, auto;
}

#notmine{
	-fx-padding:0;
	-fx-background-color:#bdbdbd;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;    
    -fx-background-image: url("images/notmine.png");
  
}

#uncoverMines{
	-fx-padding:0;
	-fx-background-color:#bdbdbd;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;    
    -fx-background-image: url("images/mine.png");
    
}

#clickedMine{
	-fx-padding:0;
	-fx-background-color:red;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;    
    -fx-background-image: url("images/mine.png");
    
}

#flag{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/flag.png");
    -fx-background-size: cover, auto;
    
	
}

#default{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/default.png");
    -fx-background-size: cover, auto;
    
}

#one{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/one.png");
    -fx-background-size: cover, auto;
  
}

#two{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/two.png");
    -fx-background-size: cover, auto;
  
}

#three{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/three.png");
    -fx-background-size: cover, auto;
 
}

#four{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/four.png");
    -fx-background-size: cover, auto;
  
}

#five{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/five.png");
    -fx-background-size: cover, auto;
  
}

#six{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/six.png");
    -fx-background-size: cover, auto;
  
}

#seven{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/seven.png");
    -fx-background-size: cover, auto;
  
}

#eight{
	-fx-background-color:#bdbdbd;
	-fx-padding: 0;
	-fx-font-weight:bold;
	-fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-background-image: url("images/eight.png");
    -fx-background-size: cover, auto;
  
}